h1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: 1em; 
    color: white;
    margin-right: 1em;
}

h3{
  font-family: 'Quicksand', sans-serif;
  color:white;
  padding-top:20px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  color:white;
  padding-top:20px;

}

.links {
    font-family: 'Quicksand', sans-serif;
    margin-top: 1em;
}

.nav h6 {
	display:inline;
	margin-right: 3em;
}


.images {
	margin: 2em auto 0 auto;
  width: 6em;
}
.middleimage {
  padding-left: 40px;
}

body {
	background: black; 
} 
a:hover {
	color:grey;
}

a {
  padding-right:30px;
  color:white;
}

p {
  padding-top:50px;
  color:white;
  font-family: 'Quicksand', sans-serif;

}
