h2 {
    font-family: 'Cagliostro', sans-serif;
}

.links {
    font-family: 'Cagliostro', sans-serif;
    margin-top: 1em;
}

.nav h6 {
	display:inline;
	margin-right: 3em;
}
.middlepicture {

  -webkit-border-radius: 4px;
          border-radius: 4px;

 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

.images {
	margin: 2em auto 0 auto;



    width: 6em;
}

li {
	margin-top: 1em;
}

ul {
	list-style-type: none; 
}

body {
	background: #00f url('../images/backgroundimage.png');
} 
a:hover {
	color:blue;
}
